@model web_development_course.Models.Branch

@{
    string name = "", city = "", street = "", buildingNum = "", lon = "", lat = "";
    int branchId = -1, addressId = -1;
    string title = (string)ViewData["Title"];
    var isEdit = (bool)ViewData["isEdit"];

    if (isEdit)
    {
        name = Model.Name;
        city = ViewBag.Address.City;
        street = ViewBag.Address.Street;
        buildingNum = ViewBag.Address.BuildingNumber.ToString();
        lon = ViewBag.Address.Longitude.ToString();
        lat = ViewBag.Address.Latitude.ToString();
        branchId = Model.Id;
        addressId = Model.AddressId;
    }

}
<h1>@title</h1>

<h4>Branch</h4>
<hr />
<div class="col">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control name" id="@branchId" value="@name" />
                        <span id="name_error" class="text-danger d-none">Name must be between 2-50 charactes</span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address.City" class="control-label"></label>
                        <input asp-for="Address.City" class="form-control city" id="@addressId" value="@city" />
                        <span id="city_error" class="text-danger d-none">City is mandatory</span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address.Street" class="control-label"></label>
                        <input asp-for="Address.Street" class="form-control" id="street" value="@street" />
                        <span id="street_error" class="text-danger d-none">Street is mandatory</span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address.BuildingNumber" class="control-label"></label>
                        <input asp-for="Address.BuildingNumber" class="form-control" id="building-number" value="@buildingNum" />
                        <span id="number_error" class="text-danger d-none">Number must be between 1-10000</span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address.Longitude" class="control-label"></label>
                        <input asp-for="Address.Longitude" class="form-control" id="longitude" value="@lon" />
                        <span id="longitude_error" class="text-danger d-none">Longitude is mandatory</span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address.Latitude" class="control-label"></label>
                        <input asp-for="Address.Latitude" class="form-control" id="latitude" value="@lat" />
                        <span id="latitude_error" class="text-danger d-none">Latitude is mandatory</span>
                    </div>
            </form>
        </div>
    </div>
    <div class="col">
        <table class="table " id="open_hour_table">
            <thead>
                <tr>
                    <th scope="col">Day</th>
                    <th scope="col">Open</th>
                    <th scope="col">Close</th>
                </tr>
            </thead>
            <tbody id="table_body">
                @if (isEdit)
                {
                    @for (var i = 0; i < @ViewBag.OpeningHours.Count; i++)
                    {
                        <tr id="tr_@i ">
                            <th scope="row">
                                <select class="form-select day_selection" id="day_selection_@i" aria-label="Default select example" dbid="@ViewBag.OpeningHours[i].Id">
                                    @foreach (var day in Enum.GetValues(typeof(DayOfWeek)))
                                    {
                                        if (day.Equals(@ViewBag.OpeningHours[i].DayOfWeek))
                                        {
                                            <option selected="selected" value=@((int)day)>@day</option>
                                        }
                                        else
                                        {
                                            <option value=@((int)day)>@day</option>
                                        }
                                    }
                                </select>
                                <span class="text-danger d-none" id="day_error_@i">It is not possible to repeat a day</span>

                            </th>
                            <td>
                                <div scope="row">
                                    <input id="open_@i" class="form-select" type="time" value="@ViewBag.OpeningHours[i].Open" />
                                    <span class="text-danger d-none" id="open_error_@i">Error</span>
                                </div>
                            </td>
                            <td>
                                <div scope="row">
                                    <input id="close_@i" class="form-select" type="time" value="@ViewBag.OpeningHours[i].Close" />
                                    <span class="text-danger d-none" id="close_error_@i">Error</span>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr id="tr_0">
                        <th scope="row">
                            <select class="form-select day_selection" id="day_selection_0" aria-label="Default select example">
                                @foreach (var day in Enum.GetValues(typeof(DayOfWeek)))
                                {
                                    <option value=@((int)day)>@day</option>
                                }
                            </select>
                            <span class="text-danger d-none" id="day_error_0">Error</span>

                        </th>
                        <td>
                            <div scope="row">
                                <input id="open_0" class="form-select" type="time" />
                                <span class="text-danger d-none" id="open_error_0">Open hour must be before close hour</span>
                            </div>
                        </td>
                        <td>
                            <div scope="row">
                                <input id="close_0" class="form-select" type="time" />
                                <span class="text-danger d-none" id="close_error_0">Close hour must be after open hour</span>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="col d-flex justify-content-center">
            <button class="btn btn-danger" id="delete_day" style="margin:2px">Delete</button>
            <button class="btn btn-primary" id="add_day" style="margin:2px">Add Day</button>
        </div>
    </div>
</div>

<div class="form-group" style="margin-top:5px">
    <input type="submit" value="@(isEdit ? "Save" : "Create" )" class="btn btn-primary" id="@(isEdit ? "save" : "create" )" />
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>
