@using web_development_course.Models.ProductModels
@model web_development_course.Models.Product

@{
    ViewData["Title"] = Model.Name;
    Dictionary<ProductSize, int> SizesAndCounts = (Dictionary<ProductSize, int>)ViewData["SizesAndCounts"];
    Dictionary<ProductColor, int> ColorsAndCounts = (Dictionary<ProductColor, int>)ViewData["ColorsAndCounts"];
}


<div class="container-fluid productPage">
    <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide col-12 col-lg-4" data-bs-ride="carousel">
            <div class="carousel-indicators">
                @{
                    for (var i = 0; i < Model.ProductImages.Count(); i++)
                    {
                        String extraClass = i == 0 ? "active" : "";

                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i"
                        class="@extraClass" aria-current="true" aria-label="Photo @i"></button>

                    }
                }
            </div>
            <div class="carousel-inner">
                @{
                    bool isFirst = true;
                    @foreach (ProductImage image in Model.ProductImages)
                    {
                        String base64 = Convert.ToBase64String(image.ImageData);
                        String extraClass = isFirst ? "active" : "";
                        isFirst = false;

                        <div class="carousel-item @extraClass">
                            <img src="data:image/png;base64,@base64" class="d-block w-100 h-100" width="100" height="250" />
                        </div>
                    }
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="col-6 col-12 col-lg-8">
            <h1>@Model.Name</h1>
            <h3>@Model.Price$</h3>
            <h5>
                Color:
                <div class="btn-group" role="group" aria-label="color selection">
                    @foreach (var item in ColorsAndCounts)
                    {
                        bool noStock = item.Value <= 0;

                        <input type="radio" class="btn-check" name="colorSelection" id="color-button-@item.Key.Id"
                        autocomplete="off" @(noStock ? "disabled" : "" )>
                        <label class="btn btn-outline-secondary colorLabel" for="color-button-@item.Key.Id">
                            <span class="p-2 border border-dark rounded-circle color"
                            style="background-color: #@item.Key.Color;"></span>
                        </label>
                    }
                </div>

            </h5>
            <div style="margin-bottom: .5rem;">
                <label class="form-check-label h5 margin-bottom-0 quantityLabel" for="Size">Size:</label>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    @foreach (var item in SizesAndCounts)
                    {
                        bool noStock = item.Value <= 0;
                        String ExtraClass = noStock ? "line-through" : "";

                        <input type="radio" class="btn-check" name="Size" id="size-@item.Key" autocomplete="off" @(noStock ?
                        "disabled" : "" )>
                        <label class="btn btn-outline-secondary @ExtraClass"
                        for="size-@item.Key">@item.Key.ToString().ToUpper()</label>
                    }
                </div>
            </div>
            <div style="display: flex; margin-bottom: .5rem;">
                <label class="form-check-label h5 margin-bottom-0 quantityLabel" for="Quantity">Quantity:</label>

                <select class="form-select" aria-label="Quantity" name="Quantity" disabled>
                    <option selected value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>

            <button type="button" class="btn btn-primary" disabled>
                <i class="bi bi-cart-plus"></i>
                Add to cart
            </button>
        </div>
    </div>
</div>
