@model IEnumerable<web_development_course.Models.Product>

@{
    ViewData["Title"] = "Index";

}


<div class="text-center">
    <h1>Product Managment Page</h1>
    <button type="button" id="AddNewProductBtn" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
        </svg>
        Add new Product
    </button>
    <button type="button" id="AddNewCategoryBtn" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
        </svg>
        Add new Category
    </button>
    <select id="categoriesDropDownList" class="form-select" style="margin: 5px" aria-label="Default select example">
        <option selected>Category Select</option>
    </select>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-4 align-items-start">
        @{ foreach (var product in Model)
            {
                <div class="col">
                            <div class="card" style="width: 18rem;">
                                @{ var carouselId = "carousel" + product.Id;}
                                @if (product.ProductImages != null)
                                {
                                    <div id=@carouselId class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                                        <div class="carousel-inner">
                                            @for (var i = 0; i < product.ProductImages.Count(); i++)
                                            {
                                                if (i == 0)
                                                {
                                                    <div class="carousel-item active">
                                                        @{
                                                            string img = Convert.ToBase64String(product.ProductImages.ElementAt(i).ImageData);
                                                            <img src="data:image/png;base64,@img" class="card-img-top d-block w-100" width="100" height="250"  />
                                                        }
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="carousel-item">
                                                        @{
                                                            string img = Convert.ToBase64String(product.ProductImages.ElementAt(i).ImageData);
                                                            <img src="data:image/png;base64,@img" class="card-img-top d-block w-100" width="100" height="250" />
                                                        }
                                                    </div>
                                                }
                                            }
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#@carouselId" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#@carouselId" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>

                                }
                                <div class="card-body">
                                    <p class="card-text category" category="@product.Name">

                                    </p>
                                    <h5 class="card-title">@product.Name</h5>
                                    <p class="card-text"><strong>Discount: </strong> @product.DiscountPercentage%</p>
                                    <p class="card-text"><strong>Price (after discount): </strong> @{ var priceAfterDiscount = product.Price * ((100 - @product.DiscountPercentage) / 100); } @priceAfterDiscount</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <strong>Colors: </strong>  @if (product.ProductTypes != null)
                                        {
                                            @foreach (var pr in product.ProductTypes)
                                            {
                                                <button class="editProductType text-center" style="border-radius: 10px;  display: inline-block; background: @pr.Color; width: 20px; height: 20px; " id="color" name="@product.Name" data-bs-toggle="tooltip" data-bs-placement="top" quantity="@pr.Quantity" size="@pr.Size" title="Amount Available: @pr.Quantity  Size: @pr.Size">
                                                    <span style="color: antiquewhite; margin-bottom: 2px"> @pr.Size</span>
                                                </button>
                                            }
                                        }
                                    </li>
                                    <li class="list-group-item">
                                        <strong>Total Stock Amount: </strong>  @if (product.ProductTypes != null)
                                        {
                                            var totalAmount = 0;
                                            @foreach (var pr in product.ProductTypes)
                                            {
                                                totalAmount = totalAmount + pr.Quantity;
                                            }
                                            @totalAmount
                                        }
                                    </li>
                                </ul>
                                <div class="card-body">
                                    @{var editAccordion = "editAccordion" + product.Id;
                                      var EditAccordionHeading = "editAccordionHeading" + product.Id;
                                      var Heading = "heading" + product.Id;}
                                    <div class="accordion" id="@editAccordion">
                                        <div class="accordion-item">
                                            <div class="d-grid gap-2">
                                                <h2 class="accordion-header" id="@EditAccordionHeading">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@Heading" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                                        Editing Options
                                                    </button>
                                                </h2>
                                                    <div id="@Heading" class="accordion-collapse collapse" aria-labelledby="#@Heading">
                                                        <div class="accordion-body">
                                                            <button type="button" id=@product.Name class="btn btn-primary btnAddGoods">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
                                                                </svg>
                                                                Add goods
                                                            </button>
                                                            <button type="button" id=@product.Id class="btn btn-secondary btnEditProduct">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
                                                                </svg>
                                                                Edit product
                                                            </button>
                                                            <button type="button" id=@product.Id class="btn btn-danger btnDeleteProduct">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
                                                                </svg>
                                                                Delete product
                                                            </button>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            }
        }
    </div>
</div>
<div class="modal" id="addGoodsModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">Add Goods</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success d-none" id="successIcon" role="alert">
                    Success!
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg>
                </div>
                <div class="alert alert-danger d-none" id="errorIcon" role="alert">
                    Something went wrong!
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                    </svg>
                </div>
                <div class="d-none d-flex justify-content-center" id="loadingSpinner">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div class="form-group" id="addGoodsForm">
                    <div class="form-group">
                        <label class="control-label">Product Size </label>
                        <select id="Size" name="Size" asp-items="Html.GetEnumSelectList<ProductSize>()" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Product Amount</label>
                        <input id="Quantity" value="0" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Color</label>
                        <input id="Color" class="form-control" type="color" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeBtn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="addGoodsModalBtn" class="btn btn-success">Add goods</button>
                <button type="button" id="deleteGoodsModalBtn" class="btn btn-danger d-none">delete this product type</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="addProductModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">Add Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success d-none" id="ProductSuccessIcon" role="alert">
                    Success!
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg>
                </div>
                <div class="alert alert-danger d-none" id="ProductErrorIcon" role="alert">
                    Something went wrong!
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                    </svg>
                </div>
                <div class="d-none d-flex justify-content-center" id="ProductloadingSpinner">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div class="form-group" id="addProductForm">
                    <div class="form-group">
                        <label value="ProductCategory" class="control-label">Product Category</label>
                        <select id="categoriesDropDownListPModel" class="form-select" multiple aria-label="category select">
                            <option selected>Category Select</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label value="ProductName" class="control-label">Product Name</label>
                        <input id="ProductName" class="form-control productName" />
                    </div>
                    <div class="form-group">
                        <label value="Product Price" class="control-label">Product Price</label>
                        <input id="ProductPrice" class="form-control productPrice" min="0" type="number" value="0" />
                    </div>
                    <div class="form-group">
                        <label value="Product Discount" class="control-label">Product Discount</label>
                        <input id="ProductDiscount" min="0" max="99" class="form-control productDiscount" type="number" value="0" />
                    </div>
                    <div class="form-group">
                        <label value="upload images" class="control-label"></label>
                        <input id="UploadImg" type="file" class="form-control files" accept="image/*" multiple />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeProductBtn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="addProductModalBtn" class="btn btn-success">Add Product</button>
                <button type="button" id="deleteProductModalBtn" class="btn btn-danger d-none">Delete Product</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="editProductModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">Edit Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success d-none" id="ProductEditSuccessIcon" role="alert">
                    Success!
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg>
                </div>
                <div class="alert alert-danger d-none" id="ProductEditErrorIcon" role="alert">
                    Something went wrong!
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                    </svg>
                </div>
                <div class="d-none d-flex justify-content-center" id="ProductEditloadingSpinner">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div class="form-group" id="editProductForm">
                    <div class="form-group">
                        <label value="ProductCategory" class="control-label">Product Category</label>
                        <select id="categoriesEditDropDownListPModel" class="form-select" aria-label="category select" multiple>
                            <option selected>Category Select</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label value="ProductName" class="control-label">Product Name</label>
                        <input id="ProductEditName" class="form-control productName" />
                    </div>
                    <div class="form-group">
                        <label value="Product Price" class="control-label">Product Price</label>
                        <input id="ProductEditPrice" class="form-control productPrice" min="0" type="number" value="0" />
                    </div>
                    <div class="form-group">
                        <label value="Product Discount" class="control-label">Product Discount</label>
                        <input id="ProductEditDiscount" min="0" max="99" class="form-control productDiscount" type="number" value="0" />
                    </div>
                    <div class="accordion" id="editImageAccordion" style="margin-top: 5px">
                        <div class="accordion-item">
                            <div class="d-grid gap-2">
                                <h2 class="accordion-header" id="editImageAccordion-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls=collapseOne">
                                        Edit Images
                                    </button>
                                </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                                        <div class="accordion-body">
                                            <div class="form-group">
                                                <div class="EditUploadNewImages">
                                                    <h4>Add New Images</h4>
                                                    <input class="form-control" type="file" id="EditImageUpload" accept="image/*" multiple />
                                                    <br />
                                                </div>
                                                <h4>Editing Exist Images</h4>
                                                <span id="imagesProduct" style="margin: 5px;">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeEditProductBtn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="editProductModalBtn" class="btn btn-success">Edit Product</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="addCategoryModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">Add Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success d-none" id="CategorySuccessIcon" role="alert">
                    Success!
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg>
                </div>
                <div class="alert alert-danger d-none" id="CategoryErrorIcon" role="alert">
                    Something went wrong!
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                    </svg>
                </div>
                <div class="d-none d-flex justify-content-center" id="CategoryloadingSpinner">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div class="form-group" id="addCategoryForm">
                    <div class="form-group">
                        <label value="CategoryName" class="control-label">Category Name</label>
                        <input id="CategoryName" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeCategoryBtn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="addCategoryBtn" class="btn btn-success">Add Category</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/product/ProductTypeHandeling.js"></script>
    <script src="~/js/product/ProductHandeling.js"></script>
    <script src="~/js/product/CategoriesHandeling.js"></script>
}
