@model IEnumerable<web_development_course.Models.Product>

@{
    ViewData["Title"] = "Index";

}

<h1>Product Managment Page</h1>

<p>
    <button type="button" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
        </svg>
        Add new Product
    </button>
</p>
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
    @{ foreach (var product in Model)
        {
            <div class="col">
                <div class="card" style="width: 18rem;">
                    @if (product.ProductImages != null)
                    {
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                @foreach (var image in product.ProductImages)
                                {
                                    <div class="carousel-item active">
                                        @{
                                            string img = Convert.ToBase64String(image.ImageData);
                                            <img src="data:image/png;base64,@img" class="card-img-top" width="100" height="250" />
                                        }
                                    </div>
                                }
                            </div>
                        </div>

                    }
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text"><strong>Price: </strong> @product.Price</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Colors: </strong>  @if (product.ProductTypes != null)
                            {
                                @foreach (var pr in product.ProductTypes)
                                {
                        <button class="editProductType" name="@product.Name" data-bs-toggle="tooltip" data-bs-placement="top" quantity="@pr.Quantity" size="@pr.Size" title="Amount Available: @pr.Quantity  Size: @pr.Size">
                            <div  style="border-radius: 10px; display: inline-block; background: @pr.Color; width: 20px; height: 20px; " id="color"></div>
                        </button>
                                }
                            }
                                </li>
                        <li class="list-group-item">
                            <strong>Amount: </strong>  @if (product.ProductTypes != null)
                            {
                                var totalAmount = 0;
                                @foreach (var pr in product.ProductTypes)
                                {
                                    totalAmount = totalAmount + pr.Quantity;
                                }
                                @totalAmount
                            }
                        </li>
                    </ul>
                    <div class="card-body">
                        <button type="button" id=@product.Name class="btn btn-primary btnAddGoods">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
                            </svg>
                            Add goods
                        </button>
                        <button type="button" id=@product.Name class="btn btn-danger btnDeleteProduct">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
                            </svg>
                            Delete product
                        </button>
                    </div>
                </div>
            </div>
        }
    }
</div>

<div class="modal" id="addGoodsModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Goods</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success d-none" id="successIcon" role="alert">
                    Added!
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg>
                </div>
                <div class="alert alert-danger d-none" id="errorIcon" role="alert">
                    Something went wrong!
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                    </svg>
                </div>
                <div class="d-none d-flex justify-content-center" id="loadingSpinner">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div class="form-group" id="addGoodsForm">
                    <div class="form-group">
                        <label class="control-label">Product Size </label>
                        <select id="Size" name="Size" asp-items="Html.GetEnumSelectList<ProductSize>()" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Product Amount</label>
                        <input id="Quantity" value="0" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Color</label>
                        <input id="Color" class="form-control" type="color" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeBtn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="addGoodsModalBtn" class="btn btn-success">Add goods</button>
                <button type="button" id="deleteGoodsModalBtn" class="btn btn-danger d-none">delete this product type</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/product/ProductCreatePage.js"></script>
}
